In [1]:
import pandas as pd

import json
import glob
import os
import re

In [2]:
base = "../exp/"
paths = glob.glob(base + "alternatives/*.json")
data = [json.load(open(path)) for path in paths]

def path_to_graph(path):
    return {
        'osm_europe': 'OSM Eur',
        'osm_ger': 'OSM Ger',
        'europe': 'DIMACs Eur',
    }[[x for x in path.split('/') if x != ''][-1]]

In [11]:
queries = pd.DataFrame.from_records([{ 
    **algo,
    'graph': path_to_graph(run['args'][1])
} for run in data for algo in run['algo_runs'][1:] if run['program'] == 'chpot_penalty_iterative'])

In [12]:
queries.groupby('graph').mean()[['running_time_ms', 'ubs', 'local_optimality_percent', 'sharing_percent', 'num_iterations']]

,running_time_ms,ubs,local_optimality_percent,sharing_percent,num_iterations
graph,,,,,
DIMACs Eur,156.224979,1.090049,21.189509,41.975635,1.4426
OSM Ger,65.706537,1.091245,29.898156,34.693236,1.6427

In [5]:
queries.groupby('graph')['success'].describe()

            count unique   top  freq
graph
DIMACs Eur  10000      2  True  9686
OSM Ger     10000      2  True  9447

In [6]:
queries = pd.DataFrame.from_records([{ 
    **algo,
    'graph': path_to_graph(run['args'][1])
} for run in data for algo in run['algo_runs'] if run['program'] == 'chpot_penalty'])

In [8]:
queries['success'] = queries['total_dist'] > 1

In [7]:
queries.groupby('graph').mean()[['running_time_ms', 'total_dist', 'avg_dist', 'decision_edges', 'num_iterations']]

,running_time_ms,total_dist,avg_dist,decision_edges,num_iterations
graph,,,,,
DIMACs Eur,1373.520242,2.932898,1.044595,5.5667,6.7108
OSM Ger,854.267563,2.976206,1.052681,5.1136,6.8531

In [9]:
queries.groupby('graph')['success'].describe()

            count unique   top  freq
graph
DIMACs Eur  10001      2  True  9871
OSM Ger     10001      2  True  9811